@import "tailwindcss";

@theme {
  --font-geist: "Geist Variable", system-ui, sans-serif;

  --color-c-onix-black: #151515;
  --color-c-lead-gray: #2c2c2c;
  --color-c-steel-gray: #838891;
  --color-c-snow-white: #f4f4f4;
  --color-c-old-gold: #d69e2e;

  --spacing-content-height: calc(100vh - 24px);
}
