@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-bg-primary: #edf2f7;
  --color-light-bg-secondary: #fafafa;
  --color-light-bg-tertiary: #e2e8f0;

  --color-dark-bg-primary: #222629;
  --color-dark-bg-secondary: #121212;
  --color-dark-bg-tertiary: #282d33;
  --color-accent-bg: #d69e2e;

  --color-light-text-primary: #1a202c;
  --color-dark-text-primary: #ffffffeb;
  --color-accent-text: #d69e2e;
  --color-light-text-link: #718096;
  --color-dark-text-link: #7b8aa1;

  --color-light-icon-primary: #1a202c;
  --color-dark-icon-primary: #ffffffeb;
  --color-accent-icon: #d69e2e;

  --color-light-border-primary: #e2e8f0;
  --color-light-border-secondary: #718096;

  --color-dark-border-primary: #434548;
  --color-dark-border-secondary: #7b8aa1;
  --color-accent-border: #d69e2e;

  --spacing-page-content: 1500px;

  --font-roboto: 'Roboto', sans-serif;

  --transition-popover: translate, opacity;
}

/*! PAGE LAYOUT */
@layer components {
  body {
    @apply font-roboto bg-light-bg-primary dark:bg-dark-bg-primary text-light-text-primary dark:text-dark-text-primary;
  
    .p-container {
      @apply flex justify-center w-full;

      .page {
        @apply px-2 sm:px-8 md:px-12 py-2 sm:py-4 min-h-svh max-w-page-content w-full;
      }
    }
  }
}

/*! FOOTER */
@layer components {
  .f-container {
    @apply flex justify-center py-8 mt-14 w-full bg-light-bg-secondary dark:bg-dark-bg-secondary border-t border-light-border-primary dark:border-dark-border-primary;
  
    .footer {
      @apply flex flex-col px-2 sm:px-8 md:px-12 max-w-page-content w-full;

      .f-content {
        @apply relative flex flex-col gap-4 sm:flex-row justify-between;

        .f-logo-container {
          @apply flex flex-col items-center sm:items-start gap-2 max-w-full sm:max-w-[270px];
          
          .f-logo-box-height {
            @apply h-[60px];
          }

          .f-logo-width {
            @apply w-[120px];
          }
    
          .f-logo-text {
            @apply italic text-balance text-center sm:text-left;
          }
        }

        .f-routes-container {
          @apply flex justify-center gap-8;

          .f-routes-hidden {
            @apply hidden md:block;
          }

          .f-routes-section {
            @apply text-center sm:text-start;

            h3 {
              @apply text-[18px] font-medium;
            }

            ul {
              @apply flex flex-col gap-2 sm:gap-3 mt-3;

              .f-route-item {
                @apply w-fit text-light-text-link dark:text-dark-text-link hover:underline;
              }
            }
          }

          .f-scroll-top-button {
            @apply absolute sm:static top-0 -right-0 p-2 h-fit rounded-full hover:bg-light-bg-primary dark:hover:bg-dark-bg-primary cursor-pointer;
            
            .icon {
              @apply w-6 h-6 fill-light-icon-primary dark:fill-dark-icon-primary group-hover:fill-accent-icon dark:group-hover:fill-accent-icon;
            }
          }
        }
      }

      .f-divider {
        @apply my-6 border-light-border-primary dark:border-dark-border-primary;
      }

      .f-year-text {
        @apply text-center text-balance;
      }
    }
  }
}

/*! LOGO */
@layer components {
  .logo-container {
    @apply flex items-center;

    .logo-link {
      @apply transition-transform hover:scale-105;

      .logo {
        @apply h-auto aspect-[1078/342];
      }
    }
  }
}