.inline-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding: 0 8px;
}

.bar {
  width: 6px;
  height: 18px;
  border-radius: 10px;
  animation: loading_5192 1s ease-in-out infinite;
}

.bar:nth-child(1) {
  animation-delay: 0.01s;
}

.bar:nth-child(2) {
  animation-delay: 0.09s;
}

.bar:nth-child(3) {
  animation-delay: 0.19s;
}

.bar:nth-child(4) {
  animation-delay: 0.29s;
}

.bar-a {
  background-color: #d69e2e;
}

.bar-b {
  background-color: #d69e2e99;
}

@keyframes loading_5192 {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1, 1.8);
  }

  40% {
    transform: scale(1);
  }
}
